@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/UbuntuMono-Regular.ttf') format('ttf');
  font-display: swap;
}
  
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/UbuntuMono-Italic.ttf') format('ttf');
  font-display: swap;
}
  
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/UbuntuMono-Bold.ttf') format('ttf');
  font-display: swap;
}
  
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/UbuntuMono-BoldItalic.ttf') format('ttf');
  font-display: swap;
}